---
import type { CollectionEntry } from "astro:content";
import BoxItem from "./BoxItem.astro";

type Props = {
  title: string;
  albums: CollectionEntry<"catalog">[];
};

const { title, albums } = Astro.props;
---

<section class="bg-stone-200">
  <h2 class="p-6 text-lg font-normal relative h-24">
    <span
      class="inline-block absolute bottom-0 left-6 px-4 py-2 rounded-t-md bg-stone-100 z-0"
      >{title}</span
    >
  </h2>
  <div
    class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 py-4 bg-stone-100 bg-gradient-to-t from-stone-200 to-stone-100"
  >
    {albums.map((post) => <BoxItem {...post} />)}
  </div>
</section>
