---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

type Props = CollectionEntry<"catalog">;

const post = Astro.props;
---

<article class="p-8">
  <a class="inline-block mb-4" href={`/${post.slug}/`}>
    <Image width={400} height={400} src={post.data.artFront} alt="" />
    <h3 class="mt-4">
      <strong class="text-xl">{post.data.title}</strong>
      <div>{post.data.artist}</div>
    </h3>
  </a>
</article>
