---
const today = new Date();
---

<footer class="p-6 bg-slate-950 text-slate-100">
  <small class="block text-base mb-2">
    {today.getFullYear()}
    <strong>basura</strong> discos "Algunos derechos reservados"
  </small>
  <small class="block">
    <a
      href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1"
      target="_blank"
      rel="license noopener noreferrer"
      class="flex flex-row gap-1 items-end"
    >
      CC BY-SA 4.0

      <img
        style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
        src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
        alt=""
      />
      <img
        style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
        src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
        alt=""
      />
      <img
        style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
        src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1"
        alt=""
      />
    </a>
  </small>
</footer>
