<header
  class="sticky top-0 py-4 px-6 bg-stone-950 text-stone-300 shadow-xs z-10"
>
  <h1 class="text-2xl flex flex-wrap flex-row gap-2 items-end">
    <svg
      width="34"
      height="48"
      viewBox="0 0 34 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path
        d="M19.2467 10.8926C19.2467 14.6993 16.1599 17.7853 12.3522 17.7853C8.54444 17.7853 5.45768 14.6993 5.45768 10.8926C5.45768 7.08593 8.54444 4 12.3522 4C16.1599 4 19.2467 7.08593 19.2467 10.8926Z"
        fill="white"></path>
      <path
        d="M11.5861 30.0388V40.4543C11.5861 40.6235 11.4489 40.7607 11.2797 40.7607H8.82834C8.65909 40.7607 8.5219 40.6235 8.5219 40.4543V22.5718L6.31594 29.7391C6.26535 29.9035 6.08935 29.994 5.92617 29.9397L4.20956 29.3676C4.05162 29.315 3.96465 29.146 4.01365 28.9869L6.98979 19.3169L10.8201 18.5511H13.8843L16.9485 19.3169L20.0128 23.912L23.5758 26.7616C23.7184 26.8757 23.7302 27.0883 23.601 27.2174L22.505 28.3132C22.3945 28.4236 22.2188 28.4333 22.0969 28.3358L18.4806 25.4437L16.1825 21.9974V40.4543C16.1825 40.6235 16.0453 40.7607 15.876 40.7607H13.4247C13.2554 40.7607 13.1182 40.6235 13.1182 40.4543V30.0388H11.5861Z"
        fill="white"></path>
      <path
        d="M29.9715 33.1022H23.843V34.6339L24.6091 40.7607H29.2054L29.9715 34.6339V33.1022Z"
        fill="white"></path>
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M28.4394 29.273C28.4394 30.5419 27.4105 31.5705 26.1412 31.5705C24.872 31.5705 23.843 30.5419 23.843 29.273C23.843 28.0041 24.872 26.9754 26.1412 26.9754C27.4105 26.9754 28.4394 28.0041 28.4394 29.273ZM26.6009 29.2729C26.6009 29.5267 26.3952 29.7324 26.1413 29.7324C25.8875 29.7324 25.6817 29.5267 25.6817 29.2729C25.6817 29.0192 25.8875 28.8134 26.1413 28.8134C26.3952 28.8134 26.6009 29.0192 26.6009 29.2729Z"
        fill="white"></path>
    </svg>
    <span class="inline-block font-semibold">basura</span>
    <span class="inline-block font-thin">discos</span>
  </h1>
</header>
